[include]
	path = "~/.gitconfig.local"

[alias]
    ad = add
    aa = add .
    adp = add -p
    b = branch
    ba = branch -a
    bd = branch -d
    bD = branch -D
    bm = branch -m
    co = checkout
    cob = checkout -b
    cof = checkout -f
    c = commit
    cm = commit -m
    amend = commit --amend
    f = fetch
    rb = rebase
    rbi = rebase -i --autostash
    rs = reset
    rsoft = reset --soft
    rhard = reset --hard
    conf = config
    confg = config --global
    confl = config --global --list
    l = log
    lo = log --oneline
    los = log --stat
    di = diff
    dw = diff -w
    dn = diff --name-only
    da = diff .
	dst = diff --staged
    diffst = diff --staged
    d1 = diff HEAD^
    dname = diff --name-only
	st = status
    s = switch
    sc = switch -c
    r = restore
    p = pull
    pr = pull --rebase
    puh = push -u origin HEAD
	cg = config --global
	rv = remote -v
	cl = config --global --list

[fetch]
    prune = true

[pull]
    ff = only

[merge]
    ff = false

[push]
    default = current
